.section-header {
  .control {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: inherit;
    text-decoration: none;
    opacity: 0.5;

    &:before {
      font-family: 'Ionicons';
      content: ' ';
      font-size: 2em;
    }
    &.expand {
      &:before {
        content: $ionicon-var-chevron-down;
      }
    }
    &.contract {
      &:before {
        content: $ionicon-var-chevron-up;
      }
    }
  }
}
.load {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $clrPrim;
  position: relative;
  padding-left: 1.5em;
  clear: both;
  font-weight: 600;
  font-size: 1.25 * $doc-font-size;
  margin: $padding 0;

  &:before {
    font-family: 'Ionicons';
    content: $ionicon-var-ios7-plus-outline;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 1.5 * $doc-font-size;
    line-height: 0.9em;
    height: 0.9em;
    margin-top: -0.45em;
  }
}