nav.primaryMenu {
  margin: $padding 0 (-$padding) 0;
  background: $clrBase-dk1;

  ul {
    padding: 0;
    text-align: right;
    @include row(12);

    li {
      display: inline-block;

      a {
        display: block;
        padding: $padding (2 * $padding) $padding (4 * $padding);
        color: $white;
        text-decoration: none;
        font-size: 1.25 * $doc-font-size;
        position: relative;

        /* &:before {
          font-family: 'Ionicons';
          content: ' ';
          position: absolute;
          left: $padding;
          top: 50%;
          font-weight: normal;
          font-size: 2.5 * 1.25 * $doc-font-size;
          line-height: 2.5 * 1.25 * $doc-font-size;
          width: 2.5 * 1.25 * $doc-font-size;
          height: 2.5 * 1.25 * $doc-font-size;
          margin-top: (2.5 * 1.25 * $doc-font-size) / -2;
          color: $white;
          opacity: 0.75;
        }

        &.newsfeed {

          &:before {
            content: $ionicon-var-social-rss;
          }
        }

        &.shortterm {

          &:before {
            font-family: 'mhicons';
            content: $mhi-budgeting-circled;
          }
        }

        &.longterm {

          &:before {
            font-family: 'mhicons';
            content: $mhi-compass-circled;
          }
        } */

        &:before {
          content: ' ';
          position: absolute;
          left: $padding;
          top: 50%;
          font-weight: normal;
          font-size: 2.5 * 1.25 * $doc-font-size;
          line-height: 2.5 * 1.25 * $doc-font-size;
          width: 2.5 * 1.25 * $doc-font-size;
          height: 2.5 * 1.25 * $doc-font-size;
          margin-top: (2.5 * 1.25 * $doc-font-size) / -2;
          opacity: 0.75;
          background: {
            image: url('../img/ui/mhicon.svg');
            position: 0 0;
            repeat: no-repeat;
            size: 100% auto;
          }
        }

        &.newsfeed {

          &:before {
            font-family: 'Ionicons';
            content: $ionicon-var-social-rss;
            background: none;
          }
        }

        &.shortterm {

          &:before {
            background-image: url('../img/ui/icon-budgeting-2.svg');
          }
        }

        &.longterm {

          &:before {
            background-image: url('../img/ui/icon-long-term-compass.svg');
          }
        }

      }
      &.active {
        a {
          @include color-opacity($clrLight-lt4, 0.92, background-color);
          font-weight: bold;
          color: $clrPrim;

          &.shortterm {

            &:before {
              background-image: url('../img/ui/icon-budgeting-2-blue.svg');
            }
          }

          &.longterm {

            &:before {
              background-image: url('../img/ui/icon-long-term-compass-blue.svg');
            }
          }
        }
      }
    }
  }
}

@include mq(1024px, max) {

  nav.primaryMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: $white;
    z-index: 10000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    @include transition(0.5s, 0);

    ul {
      text-align: center;

      li {
        @include column-no-gutter(4);
        display: inline-block;
        a {
          text-align: center;
          color: $greyblue;
          font-weight: bold;

          &:before {
            color: $greyblue;
          }

          &.shortterm {

            &:before {
              background-image: url('../img/ui/icon-budgeting-2-blue.svg');
            }
          }

          &.longterm {

            &:before {
              background-image: url('../img/ui/icon-long-term-compass-blue.svg');
            }
          }
        }

        &.active {
          a {

            color: $clrPrim;

            @include color-opacity($greyblue, 0.1, background-color);

            &:before {
              color: $clrPrim;
            }
          }
        }
      }
    }
  }
}

@include mq(768px, max) {

  nav.primaryMenu {
    ul {
      li {
        display: table;
        a {
          display: block;
          padding: $padding;
          &:before {
            position: static;
            font-size: 2 * 1.25 * $doc-font-size;
          }
          span {
            display: none;
          }

          &.shortterm {
            display: table-cell;
            line-height: 2.5 * 1.25 * $doc-font-size;
            height: 2.5 * 1.25 * $doc-font-size;
            background: {
              image: url('../img/ui/icon-budgeting-2-blue.svg');
              position: center center;
              repeat: no-repeat;
            }

            &:before {
              display: none;
            }
          }

          &.longterm {
            display: table-cell;
            line-height: 2.5 * 1.25 * $doc-font-size;
            height: 2.5 * 1.25 * $doc-font-size;
            background: {
              image: url('../img/ui/icon-long-term-compass-blue.svg');
              position: center center;
              repeat: no-repeat;
            }

            &:before {
              position: relative;
            }
          }
        }
      }
    }
  }
}

@include mq(1025px, min) {
  nav.primaryMenu {
    @include column-no-gutter(12);

    ul {
      text-align: left;
      @include column-no-gutter(12);

      li {

        &.active {

          a {
            background: $clrLight-lt4;
          }
        }
      }
    }
  }
}