/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$Untitled-1-x: 118px;
$Untitled-1-y: 114px;
$Untitled-1-offset-x: -118px;
$Untitled-1-offset-y: -114px;
$Untitled-1-width: 51px;
$Untitled-1-height: 32px;
$Untitled-1-total-width: 222px;
$Untitled-1-total-height: 190px;
$Untitled-1-image: '/css/img/spritesheet.png';
$Untitled-1: 118px 114px -118px -114px 51px 32px 222px 190px '/css/img/spritesheet.png';
$arrow-down-x: 171px;
$arrow-down-y: 134px;
$arrow-down-offset-x: -171px;
$arrow-down-offset-y: -134px;
$arrow-down-width: 24px;
$arrow-down-height: 12px;
$arrow-down-total-width: 222px;
$arrow-down-total-height: 190px;
$arrow-down-image: '/css/img/spritesheet.png';
$arrow-down: 171px 134px -171px -134px 24px 12px 222px 190px '/css/img/spritesheet.png';
$btn-play-x: 0px;
$btn-play-y: 0px;
$btn-play-offset-x: 0px;
$btn-play-offset-y: 0px;
$btn-play-width: 114px;
$btn-play-height: 114px;
$btn-play-total-width: 222px;
$btn-play-total-height: 190px;
$btn-play-image: '/css/img/spritesheet.png';
$btn-play: 0px 0px 0px 0px 114px 114px 222px 190px '/css/img/spritesheet.png';
$btn-search-x: 183px;
$btn-search-y: 110px;
$btn-search-offset-x: -183px;
$btn-search-offset-y: -110px;
$btn-search-width: 24px;
$btn-search-height: 24px;
$btn-search-total-width: 222px;
$btn-search-total-height: 190px;
$btn-search-image: '/css/img/spritesheet.png';
$btn-search: 183px 110px -183px -110px 24px 24px 222px 190px '/css/img/spritesheet.png';
$btn-srch-x: 171px;
$btn-srch-y: 86px;
$btn-srch-offset-x: -171px;
$btn-srch-offset-y: -86px;
$btn-srch-width: 24px;
$btn-srch-height: 24px;
$btn-srch-total-width: 222px;
$btn-srch-total-height: 190px;
$btn-srch-image: '/css/img/spritesheet.png';
$btn-srch: 171px 86px -171px -86px 24px 24px 222px 190px '/css/img/spritesheet.png';
$card-electron-x: 67px;
$card-electron-y: 114px;
$card-electron-offset-x: -67px;
$card-electron-offset-y: -114px;
$card-electron-width: 51px;
$card-electron-height: 32px;
$card-electron-total-width: 222px;
$card-electron-total-height: 190px;
$card-electron-image: '/css/img/spritesheet.png';
$card-electron: 67px 114px -67px -114px 51px 32px 222px 190px '/css/img/spritesheet.png';
$card-mastercard-x: 171px;
$card-mastercard-y: 0px;
$card-mastercard-offset-x: -171px;
$card-mastercard-offset-y: 0px;
$card-mastercard-width: 51px;
$card-mastercard-height: 32px;
$card-mastercard-total-width: 222px;
$card-mastercard-total-height: 190px;
$card-mastercard-image: '/css/img/spritesheet.png';
$card-mastercard: 171px 0px -171px 0px 51px 32px 222px 190px '/css/img/spritesheet.png';
$card-visa-x: 0px;
$card-visa-y: 114px;
$card-visa-offset-x: 0px;
$card-visa-offset-y: -114px;
$card-visa-width: 51px;
$card-visa-height: 32px;
$card-visa-total-width: 222px;
$card-visa-total-height: 190px;
$card-visa-image: '/css/img/spritesheet.png';
$card-visa: 0px 114px 0px -114px 51px 32px 222px 190px '/css/img/spritesheet.png';
$downward-triangle-x: 195px;
$downward-triangle-y: 134px;
$downward-triangle-offset-x: -195px;
$downward-triangle-offset-y: -134px;
$downward-triangle-width: 13px;
$downward-triangle-height: 12px;
$downward-triangle-total-width: 222px;
$downward-triangle-total-height: 190px;
$downward-triangle-image: '/css/img/spritesheet.png';
$downward-triangle: 195px 134px -195px -134px 13px 12px 222px 190px '/css/img/spritesheet.png';
$inpage-home-x: 70px;
$inpage-home-y: 146px;
$inpage-home-offset-x: -70px;
$inpage-home-offset-y: -146px;
$inpage-home-width: 27px;
$inpage-home-height: 22px;
$inpage-home-total-width: 222px;
$inpage-home-total-height: 190px;
$inpage-home-image: '/css/img/spritesheet.png';
$inpage-home: 70px 146px -70px -146px 27px 22px 222px 190px '/css/img/spritesheet.png';
$inpage-share-x: 171px;
$inpage-share-y: 59px;
$inpage-share-offset-x: -171px;
$inpage-share-offset-y: -59px;
$inpage-share-width: 25px;
$inpage-share-height: 27px;
$inpage-share-total-width: 222px;
$inpage-share-total-height: 190px;
$inpage-share-image: '/css/img/spritesheet.png';
$inpage-share: 171px 59px -171px -59px 25px 27px 222px 190px '/css/img/spritesheet.png';
$map-filter-campus-x: 207px;
$map-filter-campus-y: 110px;
$map-filter-campus-offset-x: -207px;
$map-filter-campus-offset-y: -110px;
$map-filter-campus-width: 13px;
$map-filter-campus-height: 24px;
$map-filter-campus-total-width: 222px;
$map-filter-campus-total-height: 190px;
$map-filter-campus-image: '/css/img/spritesheet.png';
$map-filter-campus: 207px 110px -207px -110px 13px 24px 222px 190px '/css/img/spritesheet.png';
$map-filter-property-x: 196px;
$map-filter-property-y: 59px;
$map-filter-property-offset-x: -196px;
$map-filter-property-offset-y: -59px;
$map-filter-property-width: 13px;
$map-filter-property-height: 24px;
$map-filter-property-total-width: 222px;
$map-filter-property-total-height: 190px;
$map-filter-property-image: '/css/img/spritesheet.png';
$map-filter-property: 196px 59px -196px -59px 13px 24px 222px 190px '/css/img/spritesheet.png';
$menu-01-over-x: 145px;
$menu-01-over-y: 146px;
$menu-01-over-offset-x: -145px;
$menu-01-over-offset-y: -146px;
$menu-01-over-width: 23px;
$menu-01-over-height: 20px;
$menu-01-over-total-width: 222px;
$menu-01-over-total-height: 190px;
$menu-01-over-image: '/css/img/spritesheet.png';
$menu-01-over: 145px 146px -145px -146px 23px 20px 222px 190px '/css/img/spritesheet.png';
$menu-01-x: 168px;
$menu-01-y: 146px;
$menu-01-offset-x: -168px;
$menu-01-offset-y: -146px;
$menu-01-width: 23px;
$menu-01-height: 20px;
$menu-01-total-width: 222px;
$menu-01-total-height: 190px;
$menu-01-image: '/css/img/spritesheet.png';
$menu-01: 168px 146px -168px -146px 23px 20px 222px 190px '/css/img/spritesheet.png';
$menu-02-over-x: 24px;
$menu-02-over-y: 146px;
$menu-02-over-offset-x: -24px;
$menu-02-over-offset-y: -146px;
$menu-02-over-width: 23px;
$menu-02-over-height: 23px;
$menu-02-over-total-width: 222px;
$menu-02-over-total-height: 190px;
$menu-02-over-image: '/css/img/spritesheet.png';
$menu-02-over: 24px 146px -24px -146px 23px 23px 222px 190px '/css/img/spritesheet.png';
$menu-02-x: 137px;
$menu-02-y: 91px;
$menu-02-offset-x: -137px;
$menu-02-offset-y: -91px;
$menu-02-width: 23px;
$menu-02-height: 23px;
$menu-02-total-width: 222px;
$menu-02-total-height: 190px;
$menu-02-image: '/css/img/spritesheet.png';
$menu-02: 137px 91px -137px -91px 23px 23px 222px 190px '/css/img/spritesheet.png';
$menu-03-over-x: 195px;
$menu-03-over-y: 86px;
$menu-03-over-offset-x: -195px;
$menu-03-over-offset-y: -86px;
$menu-03-over-width: 24px;
$menu-03-over-height: 24px;
$menu-03-over-total-width: 222px;
$menu-03-over-total-height: 190px;
$menu-03-over-image: '/css/img/spritesheet.png';
$menu-03-over: 195px 86px -195px -86px 24px 24px 222px 190px '/css/img/spritesheet.png';
$menu-03-x: 0px;
$menu-03-y: 146px;
$menu-03-offset-x: 0px;
$menu-03-offset-y: -146px;
$menu-03-width: 24px;
$menu-03-height: 24px;
$menu-03-total-width: 222px;
$menu-03-total-height: 190px;
$menu-03-image: '/css/img/spritesheet.png';
$menu-03: 0px 146px 0px -146px 24px 24px 222px 190px '/css/img/spritesheet.png';
$menu-04-over-x: 96px;
$menu-04-over-y: 170px;
$menu-04-over-offset-x: -96px;
$menu-04-over-offset-y: -170px;
$menu-04-over-width: 23px;
$menu-04-over-height: 18px;
$menu-04-over-total-width: 222px;
$menu-04-over-total-height: 190px;
$menu-04-over-image: '/css/img/spritesheet.png';
$menu-04-over: 96px 170px -96px -170px 23px 18px 222px 190px '/css/img/spritesheet.png';
$menu-04-x: 119px;
$menu-04-y: 170px;
$menu-04-offset-x: -119px;
$menu-04-offset-y: -170px;
$menu-04-width: 23px;
$menu-04-height: 18px;
$menu-04-total-width: 222px;
$menu-04-total-height: 190px;
$menu-04-image: '/css/img/spritesheet.png';
$menu-04: 119px 170px -119px -170px 23px 18px 222px 190px '/css/img/spritesheet.png';
$menu-05-over-x: 114px;
$menu-05-over-y: 91px;
$menu-05-over-offset-x: -114px;
$menu-05-over-offset-y: -91px;
$menu-05-over-width: 23px;
$menu-05-over-height: 23px;
$menu-05-over-total-width: 222px;
$menu-05-over-total-height: 190px;
$menu-05-over-image: '/css/img/spritesheet.png';
$menu-05-over: 114px 91px -114px -91px 23px 23px 222px 190px '/css/img/spritesheet.png';
$menu-05-x: 47px;
$menu-05-y: 146px;
$menu-05-offset-x: -47px;
$menu-05-offset-y: -146px;
$menu-05-width: 23px;
$menu-05-height: 23px;
$menu-05-total-width: 222px;
$menu-05-total-height: 190px;
$menu-05-image: '/css/img/spritesheet.png';
$menu-05: 47px 146px -47px -146px 23px 23px 222px 190px '/css/img/spritesheet.png';
$menu-arrow-over-x: 174px;
$menu-arrow-over-y: 170px;
$menu-arrow-over-offset-x: -174px;
$menu-arrow-over-offset-y: -170px;
$menu-arrow-over-width: 17px;
$menu-arrow-over-height: 16px;
$menu-arrow-over-total-width: 222px;
$menu-arrow-over-total-height: 190px;
$menu-arrow-over-image: '/css/img/spritesheet.png';
$menu-arrow-over: 174px 170px -174px -170px 17px 16px 222px 190px '/css/img/spritesheet.png';
$menu-arrow-x: 157px;
$menu-arrow-y: 170px;
$menu-arrow-offset-x: -157px;
$menu-arrow-offset-y: -170px;
$menu-arrow-width: 17px;
$menu-arrow-height: 16px;
$menu-arrow-total-width: 222px;
$menu-arrow-total-height: 190px;
$menu-arrow-image: '/css/img/spritesheet.png';
$menu-arrow: 157px 170px -157px -170px 17px 16px 222px 190px '/css/img/spritesheet.png';
$menu-close-x: 142px;
$menu-close-y: 170px;
$menu-close-offset-x: -142px;
$menu-close-offset-y: -170px;
$menu-close-width: 15px;
$menu-close-height: 16px;
$menu-close-total-width: 222px;
$menu-close-total-height: 190px;
$menu-close-image: '/css/img/spritesheet.png';
$menu-close: 142px 170px -142px -170px 15px 16px 222px 190px '/css/img/spritesheet.png';
$menu-facebook-over-x: 209px;
$menu-facebook-over-y: 59px;
$menu-facebook-over-offset-x: -209px;
$menu-facebook-over-offset-y: -59px;
$menu-facebook-over-width: 12px;
$menu-facebook-over-height: 24px;
$menu-facebook-over-total-width: 222px;
$menu-facebook-over-total-height: 190px;
$menu-facebook-over-image: '/css/img/spritesheet.png';
$menu-facebook-over: 209px 59px -209px -59px 12px 24px 222px 190px '/css/img/spritesheet.png';
$menu-facebook-x: 171px;
$menu-facebook-y: 110px;
$menu-facebook-offset-x: -171px;
$menu-facebook-offset-y: -110px;
$menu-facebook-width: 12px;
$menu-facebook-height: 24px;
$menu-facebook-total-width: 222px;
$menu-facebook-total-height: 190px;
$menu-facebook-image: '/css/img/spritesheet.png';
$menu-facebook: 171px 110px -171px -110px 12px 24px 222px 190px '/css/img/spritesheet.png';
$menu-google-over-x: 97px;
$menu-google-over-y: 146px;
$menu-google-over-offset-x: -97px;
$menu-google-over-offset-y: -146px;
$menu-google-over-width: 24px;
$menu-google-over-height: 21px;
$menu-google-over-total-width: 222px;
$menu-google-over-total-height: 190px;
$menu-google-over-image: '/css/img/spritesheet.png';
$menu-google-over: 97px 146px -97px -146px 24px 21px 222px 190px '/css/img/spritesheet.png';
$menu-google-x: 121px;
$menu-google-y: 146px;
$menu-google-offset-x: -121px;
$menu-google-offset-y: -146px;
$menu-google-width: 24px;
$menu-google-height: 21px;
$menu-google-total-width: 222px;
$menu-google-total-height: 190px;
$menu-google-image: '/css/img/spritesheet.png';
$menu-google: 121px 146px -121px -146px 24px 21px 222px 190px '/css/img/spritesheet.png';
$menu-mailto-over-x: 191px;
$menu-mailto-over-y: 146px;
$menu-mailto-over-offset-x: -191px;
$menu-mailto-over-offset-y: -146px;
$menu-mailto-over-width: 25px;
$menu-mailto-over-height: 20px;
$menu-mailto-over-total-width: 222px;
$menu-mailto-over-total-height: 190px;
$menu-mailto-over-image: '/css/img/spritesheet.png';
$menu-mailto-over: 191px 146px -191px -146px 25px 20px 222px 190px '/css/img/spritesheet.png';
$menu-mailto-x: 0px;
$menu-mailto-y: 170px;
$menu-mailto-offset-x: 0px;
$menu-mailto-offset-y: -170px;
$menu-mailto-width: 25px;
$menu-mailto-height: 20px;
$menu-mailto-total-width: 222px;
$menu-mailto-total-height: 190px;
$menu-mailto-image: '/css/img/spritesheet.png';
$menu-mailto: 0px 170px 0px -170px 25px 20px 222px 190px '/css/img/spritesheet.png';
$menu-twitter-over-x: 25px;
$menu-twitter-over-y: 170px;
$menu-twitter-over-offset-x: -25px;
$menu-twitter-over-offset-y: -170px;
$menu-twitter-over-width: 24px;
$menu-twitter-over-height: 20px;
$menu-twitter-over-total-width: 222px;
$menu-twitter-over-total-height: 190px;
$menu-twitter-over-image: '/css/img/spritesheet.png';
$menu-twitter-over: 25px 170px -25px -170px 24px 20px 222px 190px '/css/img/spritesheet.png';
$menu-twitter-x: 49px;
$menu-twitter-y: 170px;
$menu-twitter-offset-x: -49px;
$menu-twitter-offset-y: -170px;
$menu-twitter-width: 24px;
$menu-twitter-height: 20px;
$menu-twitter-total-width: 222px;
$menu-twitter-total-height: 190px;
$menu-twitter-image: '/css/img/spritesheet.png';
$menu-twitter: 49px 170px -49px -170px 24px 20px 222px 190px '/css/img/spritesheet.png';
$menu-youtube-over-x: 195px;
$menu-youtube-over-y: 32px;
$menu-youtube-over-offset-x: -195px;
$menu-youtube-over-offset-y: -32px;
$menu-youtube-over-width: 24px;
$menu-youtube-over-height: 27px;
$menu-youtube-over-total-width: 222px;
$menu-youtube-over-total-height: 190px;
$menu-youtube-over-image: '/css/img/spritesheet.png';
$menu-youtube-over: 195px 32px -195px -32px 24px 27px 222px 190px '/css/img/spritesheet.png';
$menu-youtube-x: 171px;
$menu-youtube-y: 32px;
$menu-youtube-offset-x: -171px;
$menu-youtube-offset-y: -32px;
$menu-youtube-width: 24px;
$menu-youtube-height: 27px;
$menu-youtube-total-width: 222px;
$menu-youtube-total-height: 190px;
$menu-youtube-image: '/css/img/spritesheet.png';
$menu-youtube: 171px 32px -171px -32px 24px 27px 222px 190px '/css/img/spritesheet.png';
$quote-panel__inner__item--teal-x: 114px;
$quote-panel__inner__item--teal-y: 51px;
$quote-panel__inner__item--teal-offset-x: -114px;
$quote-panel__inner__item--teal-offset-y: -51px;
$quote-panel__inner__item--teal-width: 44px;
$quote-panel__inner__item--teal-height: 40px;
$quote-panel__inner__item--teal-total-width: 222px;
$quote-panel__inner__item--teal-total-height: 190px;
$quote-panel__inner__item--teal-image: '/css/img/spritesheet.png';
$quote-panel__inner__item--teal: 114px 51px -114px -51px 44px 40px 222px 190px '/css/img/spritesheet.png';
$quote-panel__inner__item--yellow-x: 114px;
$quote-panel__inner__item--yellow-y: 0px;
$quote-panel__inner__item--yellow-offset-x: -114px;
$quote-panel__inner__item--yellow-offset-y: 0px;
$quote-panel__inner__item--yellow-width: 57px;
$quote-panel__inner__item--yellow-height: 51px;
$quote-panel__inner__item--yellow-total-width: 222px;
$quote-panel__inner__item--yellow-total-height: 190px;
$quote-panel__inner__item--yellow-image: '/css/img/spritesheet.png';
$quote-panel__inner__item--yellow: 114px 0px -114px 0px 57px 51px 222px 190px '/css/img/spritesheet.png';
$room-type__arrow-x: 51px;
$room-type__arrow-y: 114px;
$room-type__arrow-offset-x: -51px;
$room-type__arrow-offset-y: -114px;
$room-type__arrow-width: 16px;
$room-type__arrow-height: 32px;
$room-type__arrow-total-width: 222px;
$room-type__arrow-total-height: 190px;
$room-type__arrow-image: '/css/img/spritesheet.png';
$room-type__arrow: 51px 114px -51px -114px 16px 32px 222px 190px '/css/img/spritesheet.png';
$share--black-x: 73px;
$share--black-y: 170px;
$share--black-offset-x: -73px;
$share--black-offset-y: -170px;
$share--black-width: 23px;
$share--black-height: 18px;
$share--black-total-width: 222px;
$share--black-total-height: 190px;
$share--black-image: '/css/img/spritesheet.png';
$share--black: 73px 170px -73px -170px 23px 18px 222px 190px '/css/img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
