// Tables
// ======
//
// Styles for the tables
//
// 	<table>
// 		<thead>
// 			<tr>
// 				<th></th>
// 			</tr>
// 			<tr>
// 				<th></th>
// 			</tr>
// 		</thead>
// 		<tbody>
// 			<tr>
// 				<th></th>
// 			</tr>
// 			<tr>
// 				<td></td>
// 			</tr>
// 		</tbody>
// 	</table>
//
.flex-table{

  margin: 0 0 $padding 0;
  background: $white;

  // flex table cell / row
  .table-cell{
    min-width: 0;
    min-height:auto;
    @include flex(1, 1, auto);
  }
  .table-row{
    min-width: 100%;
    @include flex(1, 1, auto);
  }

  &.columns {
    @include flex-table("column");
    min-height: 500px;
    max-height: 500px;
    .table-row{
      min-width: 0;
      min-height: 500px;
    }
    .table-cell{
      height:100px;
      @include flex(0, 1, 100px);
    }
  }

  &.rows {
    @include flex-table("row");
  }
}

table {

}

thead {

	tr {

	}
	th {

	}
}

tbody {
	tr {

	}
	th {

	}
}


