/* ==========================================================================
  Password Strength Indicator
========================================================================== */
.status{
  @include column-no-gutter(7);
  float: right;
}
.password-meter {
  transition: all 0.3s ease-in-out;
  @include column(12);
  position:relative;
  overflow: hidden;
  clear:both;
  margin-top: push-gutter(1);
}
.password-meter-message {
  text-align: right;
  font-weight: bold;
  min-height: push-gutter(1);
  transition: all 0.3s ease-in-out;
}
.password-meter-bg, 
.password-meter-bar {
  height: 4px;
}
.password-meter-bg {
  top: 8px;
  background: #e0e0e0;
}
.password-meter-bar{
  width: 0%;
  background: #e0e0e0;
  transition: width .5s ease, background-color .5s ease;
}

.password-meter-message-very-weak {
  color: #aa0033;
}
.password-meter-message-weak {
  color: #f5ac00;
}
.password-meter-message-good {
  color: #6699cc;
}
.password-meter-message-strong {
  color: #008000;
}

.password-meter-bg .password-meter-very-weak {
  background: #aa0033;
  width: 15%;
}
.password-meter-bg .password-meter-weak {
  background: #f5ac00;
  width: 30%;
}
.password-meter-bg .password-meter-good {
  background: #6699cc;
  width: 75%;
}
.password-meter-bg .password-meter-strong {
  background: #008000;
  width: 100%;
}
