/*

Forms
=====

<form action="/">
	<fieldset>
		<label for="name">Name</label>
		<input type="text" id="name" class="form-text" />
		<p class="form-help">This is help text under the form field.</p>
		<label for="email">Email</label>
		<input type="email" id="email" class="form-text" />
	</fieldset>
	<fieldset>
		<label for="gender">Gender</label>
		<select id="gender">
			<option>Male</option>
			<option>Female</option>
			<option>Cylon</option>
		</select>
	</fieldset>
	<fieldset class="radio">
		<label for="notifications">Notifications</label>
		<ul>
			<li><label><input type="radio" name="notifications" /> Send me email</label></li>
			<li><label><input type="radio" name="notifications" /> Don't send me email</label></li>
			<li><label><input type="radio" name="notifications" /> Send me flowers</label></li>
		</ul>
	</fieldset>
	<fieldset>
		<label for="url">URL</label>
		<input type="url" id="url" class="form-text" placeholder="http://yourdomain.com" />
	</fieldset>
	<fieldset>
		<label for="bio">Bio</label>
		<textarea id="bio"></textarea>
	</fieldset>
	<fieldset class="check">
		<label><input type="checkbox" /> I accept the terms of service and lorem ipsum.</label>
	</fieldset>
	<fieldset class="form-actions">
		<button type="submit">Submit</button>
	</fieldset>
</form>

*/

.form {
  @include row(12);

  fieldset {
    border: 0px;
    @extend .tile;
    margin-top: 25px !important;
    width: 100%;
    box-shadow: $subtle-shadow, inset 5px 0 0 $clrPrim !important;
    border-radius: $border-radius-form;

    .fieldset-leader {
      font-size: 1.8 * $doc-font-size;
      margin-top: (-1.8 * $padding);

      &:after {
        content: $ionicon-var-forward;
        font-family: 'Ionicons';
        position: relative;
        margin-left: 0.5em;
        top: 5px;
        display: inline-block;
        transform: rotate(60deg);
      }

    }
  }

  .row {
    @include clearfix();
    padding: $padding-tile;
    margin: 10px 0;
    position: relative;
    border-radius: 200px 0 0 200px;
    @include transition(0.2s, 0);

    .errorIcon,
    .errorText {
      display: none;
      opacity: 0;
      @include transition(0.2s, 0);
    }

    .errorIcon {
      position: absolute;
      left: $padding;
      top: 50%;
      font-size: 2em;
      height: 0.8em;
      line-height: 1em;
      margin-top: -0.5em;
      color: $white;

      &:before {
        font-family: 'Ionicons';
        content: $ionicon-var-alert-circled;
      }
    }

    .errorText {
      float: right;
      color: $clrWarn;
      margin-top: 0;
      height: 0;
      line-height: 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    label {
      @include column-no-gutter(5);
      display: table;
      min-height: $form-row-height;
      padding-right: 2%;
      font-weight: 500;
    }
    label div {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
    .response {
      @include column-no-gutter(7);
      display: inline-block;
      min-height: $form-row-height;


      &.align-middle{
        @extend %display-table;
      }


      input,
      select,
      textarea {
        @include column(12);
        @include vendor-prefix(appearance, none);
        min-height: $form-row-height;
        border: 0px;
        padding: $padding-input;
        font-size: 1.5 * $doc-font-size;
        font-weight: 500;
        border-radius: $border-radius;
        color: $clrBase;
        background: $clrLight;
        @include transition(0.2s, 0);

        &:focus, &:active {
          outline: none;
          // @include color-opacity($clrPrim, 0.25, background-color);
          background: $clrLight-dk2;
          @include transition(0.2s, 0);
          transform: scale(1.05);
        }
      }

      .prefix,
      .suffix {
        @include column(1);
        display: table !important;
        min-height: 45px;
        font-size: 1.25 * $doc-font-size;
        font-weight: 500;

        div {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .prefix {
        text-align: right;
      }
    }

    .infoBox {
      display: none;
    }

    &.withPrefix {
      .response {

        input,
        select,
        textarea {
          @include column(11);
        }
      }
    }

    &.active {
      background: $formHighlight;
    }

    &.error {
      background: $clrWarn;
      margin-top: 30px;

      .errorIcon,
      .errorText {
        display: block;
        opacity: 1;
        @include transition(0.2s, 0);
      }

      .errorText {
        margin-top: (1.5 * -$padding);
        height: 1em;
        line-height: 1em;
      }

      label {
        color: $white;
        padding-left: 3em;
      }

      input,
      select,
      textarea {
        @include color-opacity($white, 0.3, background);

        &:focus, &:active {
          @include color-opacity($white, 0.5, background);
        }
      }
    }

    &.submit {
      .response {
        @include column-no-gutter(7);
        @include push(5);

        .button.large.right {
          @include column(12);

          &:hover, &:active {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &.withHelp {

    fieldset {
      overflow: visible;
      max-width: 100%;
      @include column-no-gutter(9);
      margin-top: 40px !important;
    }

    .row {

      &:before {
        content: ' ';
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        right: -10px;
        top: 10px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $white;
        @include transition(0.2s, 0);
      }

      .infoBox {
        display: block;
        opacity: 0;
        position: absolute;
        width: $form-help-width;
        right: (-$form-help-width - 4);
        top: 0;
        background: $formHighlight;
        padding: $padding;
        z-index: 1;
        @include transition(0.2s, 0);

        &:before {
          content: ' ';
          width: 0;
          height: 0;
          position: absolute;
          left: -10px;
          top: 10px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid $formHighlight;
          @include transition(0.2s, 0);
        }

        h5,
        p,
        li {
          color: darken($formHighlight, 60%);
        }
      }

      &.active {

        &:before {
          opacity: 1;
          right: -5px;
          @include transition(0.2s, 0);
        }

        .infoBox {
          opacity: 1;
          right: (-$form-help-width - 2);
          @include transition(0.2s, 0);
        }
      }

      &.error {
        .infoBox {
          background: $clrWarn;

          h5,
          p,
          li {
            color: $white;
          }

          &:before {
            border-right-color: $clrWarn;
          }
        }
      }
    }
  }

  &.green {
    fieldset {
      box-shadow: $subtle-shadow, inset 5px 0 0 $clrActive !important;
    }
  }

  &.orange {
    fieldset {
      box-shadow: $subtle-shadow, inset 5px 0 0 $clrHighlight !important;
    }
  }

  &.grey {
    fieldset {
      box-shadow: $subtle-shadow, inset 5px 0 0 $grey !important;
    }
  }

  &.active {
    fieldset {
      box-shadow: $subtle-shadow, inset 5px 0 0 $clrHighlight !important;
    }
  }
}

input[type="text"] {

}
input[type="email"] {

}
input[type="checkbox"] {

}
input[type="radio"] {

}

select {

}

option {

}
textarea {

}

.radio {
	> ul {

	}

	> ul > li {

	}

	label {

	}

	input {

	}
}
.check {
	label {

	}

	input {

	}
}
.form-actions {
	button {

		&:hover, &:focus {

		}

		&:active {

		}
	}
}




// common form styles
%base-form__input{  
  @include column(12);
  @include vendor-prefix(appearance, none);
  min-height: $form-row-height;
  border: 0px;
  padding: $padding-input;
  font-size: 1.5 * $doc-font-size;
  font-weight: 500;
  border-radius: $border-radius;
  color: $clrBase;
  background: $clrLight;
  @include transition(0.2s, 0);

  &:focus, &:active {
    outline: none;
    background: $clrLight-dk2;
    @include transition(0.2s, 0);
    transform: scale(1.05);
  }
}

%base-form-response{
  @include column-no-gutter(7);
  display: inline-block;
  min-height: $form-row-height;
  position: relative;
}

// select input type
.form-base--select{
  @extend %base-form-response;
  @include ion-set($ionicon-var-chevron-down){
    font-size: 1em;
    line-height: 2em;
    position: absolute;
    pointer-events: none;
    height: 60%;
    line-height: 2em;
    right: 10px;
    text-align: center;
    top:$pos-top;
    width: 40px;
    z-index: 2;
    border-radius:10px;
    transition: transform 0.3s ease-in;
  }

  &:hover{
    &:before{
      transform: scale(1.1) translateY(-5px);
    }
  }
  form .active &{
    &:before{
      transform: scale(1.1) translateX(10px) rotate(90deg); 
    }
  }
}


// select box
.form-base__input{
  @extend %base-form__input;
}

// checkbox and radio buttons
%form-base__field{
  position:relative;
  overflow: visible;
  padding:($padding / 2) $padding;
  min-height: $form-row-height;
}

.form-base--checkbox,
.form-base--radio{
  @extend %form-base__field;
}

.form-base--checkbox input,
.form-base--radio input{
    position: absolute;
    left:-9999em;
}
.form-base--checkbox label,
.form-base--radio label{
  min-width: 100%;  
}
.form-base--checkbox label:not(.error),
.form-base--radio label:not(.error){
  padding:0 0 0 push-gutter(1);  
  margin-right: push-gutter(0.5);
  @extend %display-table-cell;
  .form .row &{
    @extend %display-table-cell;    
  }
}
.form-base--checkbox label:not(.error):before,
.form-base--radio label:not(.error):before{   
  transition: all 0.2s ease;
  transform: scale(0.9);
  color: transparent;
  text-align: center;  
  line-height: 14px;  
  display: inline-block;  
  width: 20px;  
  height: 20px;  
  margin-right: push-gutter(0.3);  
  position: absolute;  
  left:$padding;  
  top:$pos-top;
  @include border-radius(50%);
  text-align: center;  
  @extend %radio-style;
  border-color:$black;
  background: $clrLight;
  border:2px solid;
}

/*
  Hover effects on check/radios
 */

// radio and checkbox transitions
%radio-checkbox-events{   
  // uncheck inputs
  &:hover{
    &:before{
       transform: scale(1.2);
    }
  }
  &:focus{
    &:before{
       transform: scale(1.2);
    }
  }
  
  // check input
  & + label:hover{
    &:before{
       transform: scale(1.2);
    }
  }
}


.form-base--checkbox label:not(.error),
.form-base--radio label:not(.error), 
.form-base--checkbox input:checked, 
.form-base--radio input:checked{
  @extend %radio-checkbox-events;
} 

/*
  Checkbox & Radios label styling
 */

 // checkbox unchecked
.form-base--checkbox label:not(.error):before{
  content: "";
}
// checkbox checked
.form-base--checkbox input:checked + label:not(.error):before{
  content: "\f2d5";   
  color: $clrBase;
  font-size: 0.9em;
}


// checkbox in both states
.form-base--checkbox input:checked + label:not(.error):before,
.form-base--checkbox label:not(.error):before{
  border-radius: 1px; 
  font-family:Ionicons;
  top:push-gutter(0.4);
}
// radio in both states
.form-base--radio input:checked + label:not(.error):before,
.form-base--radio label:not(.error):before{
  border-radius:50%;
  content:"";
}
// radio checked
.form-base--radio input:checked + label:not(.error):before{
  border-color:$clrBase;
  content: "";
  color: $clrBase;
  background-color:$clrBase;
  background-image:radial-gradient(circle, $clrBase 0%, $clrBase 50%, $clrLight 56%, $clrLight 100%);
}

/*
  Radio / Checkboxes focus state
*/
.form-base--radio input:focus + label:not(.error):before,
.form-base--checkbox input:focus + label:not(.error):before{
  transform: scale(1.2);
  border-color:$clrBase;
}
.form-base--radio input:focus + label:not(.error),
.form-base--checkbox input:focus + label:not(.error){
  border-color:$clrBase;
}

// radio / checbox checked
.form-base--checkbox input:checked + label:not(.error):before,
.form-base--radio input:checked + label:not(.error):before {
  transform: scale(1);
  font-family:Ionicons;
}

// @include mq(1366px, max) {
//   .form {
//     &.withHelp {
//       fieldset {
//         @include column-no-gutter(12);
//
//         .row {
//
//           &:before {
//             border-left: 10px solid transparent;
//             border-right-color: transparent;
//             border-bottom-color: $white;
//             right: 100px;
//             top: auto;
//             bottom: -10px;
//           }
//
//           .infoBox {
//             right: 0;
//             top: 100%;
//             margin-top: 20px;
//             z-index: -1;
//
//             &:before {
//               left: auto;
//               right: 100px;
//             top: -20px;
//             border-left: 10px solid transparent;
//             border-right-color: transparent;
//             border-bottom-color: $formHighlight;
//           }
//          }
//
//         &.active {
//          &:before {
//            bottom: -5px;
//          }
//          .infoBox {
//            z-index: 2;
//            right: 0;
//            margin-top: 15px;
//          }
//        }
//
//        &.error {
//          .infoBox {
//            &:before {
//              border-right-color: transparent;
//              border-bottom-color: $clrWarn;
//            }
//          }
//        }
//      }
//    }
//  }
//   }
// }

@include mq(768px, max) {

  .form-base--checkbox, .form-base--radio{
    padding:0 $padding;
    
    label:not(.error), input:checked + label:not(.error){
      &:before{
        left: 0;
      }
      .form .row &{
        padding:0 $padding / 2;
      }
    }
  }

  .form {

    fieldset {
      @include column-no-gutter(12);

      .row {
        border-radius: 0;

        .errorIcon {
          top: 8px;
          margin-top: 0;
          left: 10px;
        }
        label,
        .form-base--select,
        .response {
          @include column-no-gutter(12);
        }

        label {
          min-height: 0;
          padding-left: 0;

          div {
            text-align: left;
          }
        }

        &.error {
          label {
            padding-left: 2em;
          }
        }
        .form-base--select,
        .response {
          .prefix,
          .suffix {
            @include column-no-gutter(1.5);
            text-align: center;
          }

          input,
          select,
          textarea {
            @include column-no-gutter(12);
          }
        }

        &.withPrefix {
          .form-base--select,
          .response {
            input,
            select,
            textarea {
              @include column-no-gutter(10.5);
            }
          }
        }
      }
    }

    &.withHelp {
      fieldset {
        @include column-no-gutter(12);

        .row {

          .infoBox,
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
