body {
  font-size: $doc-font-size;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
  color: $clrSec;
  margin: 0 0 0.5em;
}

h1,
h2,
h3 {
  letter-spacing: $condensed;
}

.strapline {
  text-transform: uppercase;
  letter-spacing: $expanded;
}

.strapline {
  color: $white;
  text-align: center;
  font-size: $doc-font-size * 2;
  opacity: 0;
  @include vendor-prefix(animation, fadeInSpread 3s 1s ease-in-out 1 forwards);

  strong {
    display: block;
    font-size: 1.25em;
  }
}

h1 {
  font-size: $doc-font-size * 2;
}

h2 {
  font-size: $doc-font-size * 1.8;
}

h3 {
  font-size: $doc-font-size * 1.4;
}

h4 {
  font-size: $doc-font-size * 1.2;
}

h5 {
  font-size: $doc-font-size;
  text-transform: uppercase;
}

p,
ul {
  margin: 0 0 1em;
}


.section-header {

  position: relative;
  padding-left: 1.8 * $doc-font-size * 2 * 1.25;
  padding-top: 0.1em;
  height: 0.75em;
  line-height: 0.75em;
  margin: (1.8 * $doc-font-size * 2) 0 (1.8 * $doc-font-size * 1.5);

  &:before {
    font-family: 'Ionicons';
    content: $ionicon-var-arrow-down-b;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.8 * $doc-font-size * 2;
    height: 1.8 * $doc-font-size * 2;
    line-height: (1.8 * $doc-font-size * 2) - $timeline-border-width;
    margin-top: ((1.8 * $doc-font-size * 2) / -2);
    font-weight: normal;
    border: $timeline-border-width solid $clrSec;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
  }

  &.withIcon {

    &:before {
      text-align: left;
      border-width: 0px;
      border-radius: 0;
      font-size: 2.6em;
    }
  }

  &.tick {
    &:before {
      content: $ionicon-var-checkmark-circled;
    }
  }
  &.banking {
    &:before {
      content: $ionicon-var-calculator;
    }
  }
  &.adviser {
    &:before {
      content: $ionicon-var-android-social;
    }
  }
}

%special-p {
  padding: $padding $padding $padding $special-p-padding-left;
  @include color-opacity(#ccc, 0.25, background-color);
  position: relative;
  box-shadow: inset $special-p-border-width 0 0 $white;
  border-left: $special-p-border-width solid;
  margin: 1em 0 2em;
  border-radius: 0 30px 30px 0;

  &:before {
    font: {
      family: 'Ionicons';
      size: $special-p-icon-size;
      weight: normal;
    }
    position: absolute;
    top: 0.5 * $padding;
    left: 0.08 * $special-p-padding-left;
    line-height: 1em;
  }
}

p.info {
   @extend %special-p;
   border-left-color: $clrBase-lt3;

   &:before {
     content: $ionicon-var-android-information;
     color: $info-color;
   }
}

p.warning {
  @extend %special-p;
  border-left-color: $clrWarn;
  font-weight: bold;

  &:before {
    content: $ionicon-var-alert-circled;
    color: $warning-color;
  }
}

p.success {
  @extend %special-p;
  border-left-color: $clrActive-dk3;

  &:before {
    content: $ionicon-var-checkmark-circled;
    color: $success-color;
  }
}

@include mq(768px,max) {
  h2 {
    font-size: $doc-font-size * 2;
  }
  .strapline {
    font-size: $doc-font-size * 1.5;
  }

  .section-header {
    padding-left: ($timeline-icon-ratio * $timeline-arrow-size * 1.25) * 0.75;

    &:before {
      width: $timeline-icon-ratio * $timeline-arrow-size * 0.75;
      height: $timeline-icon-ratio * $timeline-arrow-size * 0.75;
      line-height: (($timeline-icon-ratio * $timeline-arrow-size) - $timeline-border-width) * 0.7;
      margin-top: ($timeline-icon-ratio * $timeline-arrow-size / -2) * 0.75;
    }
  }
}

@include mq(1300px,min) {
  body {
    font-size: $doc-font-size * 1.1;
  }
}

@include mq(1600px,min) {
  body {
    font-size: $doc-font-size * 1.2;
  }
}