.logoBars {
  width: 75%;
  margin: 50px auto 0;
  opacity: 1;
  position: fixed;
  left: 12.5%;
  top: 50%;
  height: 100%;
  z-index: -1;

  .logoBar {
    position: relative;
    top: 100%;
    width: 22.5%;
    float: left;
    margin-right: 3.33%;
    height: 1000px;
    background-color: $clrSec-lt4;
    @include vendor-prefix(transform, skew(0deg, -8deg));
    @include vendor-prefix(animation, (slideUp 1s 0.25s 1 linear forwards, oscillate 1s 0.75s 1 ease-out alternate));

    &.first {
      margin-top: 20%;
      @include vendor-prefix(animation-delay, (0.25s, 1.25s));
    }

    &.second {
      margin-top: 12%;
      @include vendor-prefix(animation-delay, (0.5s, 1.5s));
    }

    &.third {
      margin-top: 14%;
      @include vendor-prefix(animation-delay, (0.75s, 1.75s));
    }

    &.fourth {
      margin-top: 0%;
      margin-right: 0px;
      @include vendor-prefix(animation-delay, (1s, 2s));
    }
  }

  &.loaded {
    opacity: 0.3;
    @include vendor-prefix(animation, none);

    &.logoBar {
      top: 0;
      @include vendor-prefix(animation,none);
    }
  }
}

nav.sideNav .logoBars {
  position: absolute;
  top: 70%;

  .logoBar {
    @include color-opacity($white, 0.25, background-color);
  }
}

.menuActive {
  nav.sideNav {
    .logoBars {
      .logoBar {
        @include vendor-prefix(animation, (slideUp 1s 1.25s 1 linear forwards, oscillate 1s 1.75s 1 ease-out alternate));
      }
    }
  }
}

@include mq(767px, max) {

  .logoBars {
    top: 60%;
  }

  .logoBar.first {
    margin-top: 50px;
  }
  .logoBar.second {
    margin-top: 30px;
  }
  .logoBar.third {
    margin-top: 35px;
  }
  nav.sideNav .logoBars {
    display: none;
  }
}