%mhIcon {
  width: $mhIcon-size;
  height: $mhIcon-size;
  margin: ($mhIcon-size * 0.5) auto;
  background: transparent url('../img/ui/mh-logo-bars-blue.svg') 0px ($mhIcon-size / 5) repeat-x;
  @include vendor-prefix(animation, (barsSwipe ($spinner-speed * 2) 0 infinite ease-in, barsSwipe $spinner-speed ($spinner-speed * 2) infinite linear, fadeIn 1s 0 1 ease-in-out forwards));
  background-size: auto ($mhIcon-size * 0.8);
  border-radius: 50%;
  border: ($mhIcon-size / 15) solid #fff;
  box-shadow: inset 0 0 0px ($mhIcon-size / 12) $clrBase;
  opacity: 0;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 2;
  text-align: center;
}

.spinner {
  @extend %mhIcon;

  &.withOverlay {
    box-shadow: inset 0 0 0px ($mhIcon-size / 12) $clrBase-overlay;
  }

  span {
    display: block;
    padding-top: ($mhIcon-size * 1.2);
    margin-left: (-$mhIcon-size);
    width: ($mhIcon-size * 3);
    text-align: center;
  }
}

.spinner + .overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  @include color-opacity(black, 0.5, background);
  @include vendor-prefix(animation, (barsSwipe ($spinner-speed * 2) $fadeIn-delay infinite ease-in, barsSwipe $spinner-speed ($fadeIn-delay + ($spinner-speed * 2)) infinite linear, fadeIn 1s $fadeIn-delay 1 ease-in-out forwards));
}

.splash .spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: ($mhIcon-size / -2);
  margin-top: ($mhIcon-size / -2);
  animation : barsSwipe ($spinner-speed * 2) $fadeIn-delay infinite ease-in, 
  barsSwipe $spinner-speed ($fadeIn-delay + ($spinner-speed * 2)) infinite linear, 
  fadeIn 1s $fadeIn-delay 1 ease-in-out forwards;
}