body {
  background: $clrBase;
  font-family: $primary-font;
  font-size: $doc-font-size;
  color: $grey;

  span.bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: {
      image: url('../img/ui/banner-dawn-blurred2.jpg');
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
    }
    z-index: -1;
    @include fadeInLow(1s,0.5s);
  }
}

.container {
  @include transition (0.5s,0);
}

.mainPage {
  @include clearfix();
  position: relative;
  overflow: hidden;
  left: 0;
  @include transition (0.5s,0);
}

.menuActive .mainPage {
  @include push(3);
}

section.main {
  @include column-no-gutter(12);
  @include padding-gutter();
  // @include color-opacity($clrLight-lt4, 0.95, background-color);
  background-color: $clrLight-lt4;

  .primaryCol {
    @include column(8);
  }
  .secondaryCol {
    @include column(4);
  }

  .menuToggle {
    @include fadeIn(0.5s,0s);
  }

  &.widerPrimaryCol {

    .primaryCol {
      @include column(9);
    }
    .secondaryCol {
      @include column(3);
    }
  }

  &.splash {
    background: transparent;
    margin-top: 10%;

    .logo {
      max-width: 500px;
      height: auto;
      padding-top: 92px;
      margin-bottom: 5%;
    }
  }
}

.centred {
  text-align: center;
  margin: inherit auto;
}

hr {
  @include clearfix();
  clear: both;
  border-style: dashed;
  border-color: $clrLight-dk1;
  border-width: 1px 0 0 0;
  height: 0;
  margin: $padding 0;
}

@include mq(1024px,max) {
  .mainPage {
    padding-bottom: 55px;
  }
}

@include mq(768px,max) {
  .mainPage {
    @include column-no-gutter(12);
  }
  section.main {
    @include column-no-gutter(12);
    @include padding-gutter($padding-mob);

    .primaryCol {
      @include column-no-gutter(12);
    }
    .secondaryCol {
      @include column-no-gutter(12);
    }

    &.widerPrimaryCol {
      .primaryCol {
        @include column-no-gutter(12);
      }
      .secondaryCol {
        @include column-no-gutter(12);
      }
    }

    &.splash {

      .logo {
        padding-top: 15%;
        margin-bottom: 10%;
      }
    }
  }
}

@include mq(1025px, min) {
  .sideNav {
    @include column-no-gutter(2);
  }
}