.colContainer {

  .col {
    @include column-no-gutter(1);
    border-right: 1px dashed $clrLight-dk1;


    .section-header {
      @include column(12);
      margin-top: (1.8 * $doc-font-size * 2);
      margin-bottom: (1.8 * $doc-font-size * 1.5);

      &.withIcon {
        margin-top: (1.2 * $doc-font-size * 2);
      }
    }

    &.double {
      @include column-no-gutter(2);
    }
  }

  &.one {
    .col {
      @include column-no-gutter(12);
    }
  }

  &.two {
    .col {
      @include column-no-gutter(6);

      &.double {
        @include column-no-gutter(12);
      }
    }
  }

  &.three {
    .col {
      @include column-no-gutter(4);

      &.double {
        @include column-no-gutter(8);
      }
    }
  }

  &.four {
    .col {
      @include column-no-gutter(3);

      &.double {
        @include column-no-gutter(6);
      }
    }
  }

  &.five {
    .col {
      @include column-no-gutter(2.4);

      &.double {
        @include column-no-gutter(4.8);
      }
    }
  }

  &.six {
    .col {
      @include column-no-gutter(2);

      &.double {
        @include column-no-gutter(4);
      }
    }
  }

  &.seven {
    .col {
      @include column-no-gutter(1.71428571);

      &.double {
        @include column-no-gutter(3.42857142);
      }
    }
  }

  &.eight {
    .col {
      @include column-no-gutter(1.5);

      &.double {
        @include column-no-gutter(3);
      }
    }
  }

  &.nine {
    .col {
      @include column-no-gutter(1.33333333);

      &.double {
        @include column-no-gutter(2.66666666);
      }
    }
  }

  &.ten {
    .col {
      @include column-no-gutter(1.2);

      &.double {
        @include column-no-gutter(2.4);
      }
    }
  }
}

.moreIcon {
  display: inline-block;
  width: 15px;
  height: 40px;
  margin-left: -25px;
  margin-top: 13%;
  position: relative;
  left: 15px;
  opacity: 0.25;
  font-size: 3 * $doc-font-size;

  &:before {
    font-family: 'Ionicons';
    content: $ionicon-var-android-arrow-forward;
  }
}

@include mq(768px, max) {
  .colContainer {
    &.one,
    &.two,
    &.three,
    &.four,
    &.five,
    &.six,
    &.seven,
    &.eight,
    &.nine,
    &.ten {
      .col {
        @include column-no-gutter(12);

        &.double {
          @include column-no-gutter(12);
        }
      }
    }
  }
}