// usefule small helper placeholders and classes to go here
%display-table-cell{
  display: table-cell;
  vertical-align: middle;
  float:none;  
}
%display-table{
  display: table;
  & > * {
    display: table-cell;
    vertical-align: middle;
    float:none;  
  }
}

// global class to apply %display-table
.align-middle{
  @extend %display-table;
}
.table-cell{
  @extend %display-table-cell;
}