.tileContainer {
  @include row(12);
}
.tile {
  @include clearfix();
  display: block;
  float: left;
  background: $clrTile;
  margin-top: $tile-vertical-margin !important;
  margin-bottom: $tile-vertical-margin !important;
  @include padding-gutter($padding-tile);
  position: relative;
  border-width: 0px;
  border-style: solid;
  @include color-opacity($clrBase, 0.2, border-color);
  // border-radius: $border-radius;
  box-shadow: $subtle-shadow;
  overflow: hidden;

  &.featureBG {

    .branding {
      position: absolute;
      display: block;
      opacity: 0.1;
      @include mhicon(300px, -50px, -60px);
    }

  }

  &.full {
    @include column(12);
  }
  &.half {
    @include column(6);
  }
  &.third {
    @include column(4);
  }
  &.quarter {
    @include column(3);
  }
  &.fifth {
    @include column(2.4);
  }
  &.sixth {
    @include column(2);
  }

  &.withTitle {

    h3 {
      padding-right: 22px;
    }

  }

  &.dark {
    background-color: $clrTileDark;

    * {
      color: $white;
    }

    &.dark {
      .close {
        color: $white;
      }
    }
  }
  &.alt {
    background-color: $clrBase;
  }

  h3 {
    color: $clrPrim;
    font-weight: 500;
    font-size: 125%;
    margin-bottom: 10px;
  }

  .close {
    display: none;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    line-height: 18px;
    padding: 5px;
    height: 26px;
    opacity: 0.5;
    color: $clrPrim-lt1;
    @include transition(0.2s,0);

    &:hover {
      opacity: 1;
      @include transition(0.2s,0);
    }

    &:before {
      content: $ionicon-var-close;
      font-family: 'Ionicons';
    }
  }

  &.closeable {
    .close {
      display: block;
    }
  }

  .featureImage {
    display: block;
    float: left;
    width: 40%;
    height: auto;
    margin: 0 $padding-tile $padding-tile 0;
    background: {
      color: $lightgrey;
      position: 50% 60%;
      repeat: no-repeat;
      size: cover;
    }
  }

  .keyResult {
    display: block;
    text-align: right;
    font-size: 150%;
    font-weight: 300;
    line-height: 1.5em;

    strong {
      font-weight: 300;
      font-size: 150%;
    }
  }
  ul {
    clear: left;
  }
  &.third {
    .keyResult {
      font-size: 120%;
    }

  }
  &.aspect {

    min-height: 125px;

    &:before {
      content: ' ';
      display: block;
      padding-top: 100% * $tile-aspect-ratio;
    }

    &.round {
      box-shadow: none;
      border-radius: 50%;

      &:before {
        padding-top: 100% * $tile-aspect-ratio-round;
      }
    }

    .tileInner {
      position: absolute;
      top: $padding-tile;
      right: $padding-tile;
      bottom: $padding-tile;
      left: $padding-tile;
    }
  }
}

.connectionLogo {
  width: 33%;
  height: (33%) * (1 / $tile-aspect-ratio);
  max-width: 150px;
  max-height: 150px;
  margin: 0 $padding-tile $padding-tile 0;
  display: block;
  float: left;
  border-radius: 50%;
  background: {
    color: $clrLight-lt4;
    position: 50% 50%;
    repeat: no-repeat;
    size: 60% auto;
  }
  opacity: 1;

  &.americanexpress {
    background-image: $logo-amex;
  }

  &.hsbc {
    background-image: $logo-hsbc;
  }

  &.lloyds {
    background-image: $logo-lloyds;
  }

  &.momentum {
    background-image: $logo-momentum;
  }
}

.connectionLogo + h3,
.connectionLogo + h4,
.connectionLogo + h5 {
  padding-top: 10%;
}

@include mq(1400px, max) {
  .col {
    .tile {
      &.half {
        @include column(12);
      }
    }
  }
}

@include mq(1024px,max) {
  .tile {
    @include column(12);
    @include padding-gutter($padding-tile-mob);

    &.half {
      @include column(6);
    }
    &.third {
      @include column(6);
    }
    &.quarter {
      @include column(6);
    }

    .close {
      right: 5px;
      top: 5px;
    }

    .keyResult {
      font-size: 120%;
    }

    .featureImage {
      width: calc(100% + #{2 * $padding-tile-mob}) !important;
      max-width: calc(100% + #{2 * $padding-tile-mob}) !important;
      margin: 0 (-$padding-tile-mob) 10px;
    }
  }
}

@include mq(768px,max) {
  .tile.nonTimeline {
    width: calc(100% + #{2 * $padding-mob});
    margin: (-$padding-mob) !important;
    border-bottom: 1px solid $clrLight-lt4;

    &.full,
    &.half,
    &.third,
    &.quarter {
      width: calc(100% + #{2 * $padding-mob});
      margin: 0 (-$padding-mob) !important;
      border-bottom: 1px solid $clrLight-lt4;
    }
  }
}

@include mq(1600px, min) {
  tile.aspect {

    &:before {
      padding-top: 100% * $tile-large-aspect-ratio;
    }
  }
}