.timeline {

  @include clearfix();
  margin-top: $padding;
  border-left: $timeline-border-width solid $clrTimeBorder;
  margin-left: ($timeline-arrow-size * $timeline-icon-ratio / 2) - ($timeline-border-width / 2);
  padding-left: (2 * $timeline-arrow-size) + ($timeline-arrow-size * $timeline-icon-ratio / 2) - ($timeline-border-width / 2);
  padding-top: 10px - ((2 * $timeline-arrow-size) - (($timeline-icon-ratio / 2) * $timeline-arrow-size));
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    left: 2 * (-$timeline-border-width);
    top: (-$timeline-border-width);
    width: 3 * $timeline-border-width;
    height: 3 * $timeline-border-width;
    background: $clrTimeBorder;
    border-radius: 50%;
  }

  .timelineAfter {
    content: ' ';
    position: absolute;
    left: 2.5 * (-$timeline-border-width);
    bottom: 0;
    border-left: (2 * $timeline-border-width) solid transparent;
    border-right: (2 * $timeline-border-width) solid transparent;
    border-bottom: (1.5 * $timeline-border-width) solid $clrTimeBorder;
  }

  .timelineEntry {
    @include column-no-gutter(12);
    overflow: visible;

    &:before {
      content: ' ';
      position: absolute;
      left: (-$timeline-arrow-size);
      top: $timeline-arrow-size;
      border-top: $timeline-arrow-size solid transparent;
      border-bottom: $timeline-arrow-size solid transparent;
      border-right: $timeline-arrow-size solid $white;
      z-index: 0;
    }

    &.dark:before {
      border-right-color: $clrTileDark;
    }

    .timelineIcon {
      display: block;
      position: absolute;
      left: ($timeline-icon-ratio + 2) * (-$timeline-arrow-size);
      top: (2 * $timeline-arrow-size) - (($timeline-icon-ratio/2) * $timeline-arrow-size);
      width: $timeline-icon-ratio * $timeline-arrow-size;
      height: $timeline-icon-ratio * $timeline-arrow-size;
      border-radius: 50%;
      box-shadow: 0 0 0 $timeline-border-width $white inset;
      background-color: $clrTile;
      border: $timeline-border-width solid $clrTimeBorder;
      color: $clrTimeBorder;
      text-align: center;
      vertical-align: middle;
      font-size: $timeline-icon-ratio * $timeline-arrow-size * 0.5;
      line-height: ($timeline-icon-ratio * $timeline-arrow-size) - (2 * $timeline-border-width);

      &:before {
        font-family: 'Ionicons';
        content: $ionicon-var-help;
        opacity: 0.75;
      }
    }

    &.dark {

      .timelineIcon {
        background-color: $clrTileDark;

        &:before {
          color: $white;
        }
      }
    }

    &.data {

      .timelineIcon {

        &:before {
          content: $ionicon-var-stats-bars;
        }
      }
    }

    &.adviser {

      .timelineIcon {

        &:before {
          content: $ionicon-var-person-stalker;
        }
      }
    }
  }

}

@include mq(768px,max) {

  .timeline {

    margin-left: (($timeline-arrow-size * $timeline-icon-ratio / 2) - ($timeline-border-width / 2)) / 2;
    padding-left: ((2 * $timeline-arrow-size) + ($timeline-arrow-size * $timeline-icon-ratio / 2) - ($timeline-border-width / 2)) / 2;
    padding-top: 10px - ((2 * $timeline-arrow-size) - (($timeline-icon-ratio) * $timeline-arrow-size / 2));
    border-left-width: $timeline-border-width / 2;

    &:before {
      left: 1.75 * (-$timeline-border-width);
    }

    .timelineEntry {

      &:before {
        left: (-$timeline-arrow-size * 0.75);
        top: $timeline-arrow-size;
        border-top: ($timeline-arrow-size * 0.75) solid transparent;
        border-bottom: ($timeline-arrow-size * 0.75) solid transparent;
        border-right: ($timeline-arrow-size * 0.75) solid $white;
      }

      .timelineIcon {
        left: ((($timeline-icon-ratio * 0.5) + 1) * (-$timeline-arrow-size));
        top: (1.75 * $timeline-arrow-size) - (($timeline-icon-ratio / 4) * $timeline-arrow-size);
        width: $timeline-icon-ratio * $timeline-arrow-size * 0.5;
        height: $timeline-icon-ratio * $timeline-arrow-size * 0.5;
        border-width: $timeline-border-width / 2;
        box-shadow: 0 0 0 ($timeline-border-width / 2) $white inset;
        font-size: $timeline-icon-ratio * $timeline-arrow-size * 0.5 * 0.5;
        line-height: ($timeline-icon-ratio * 0.5 * $timeline-arrow-size) - ($timeline-border-width);
      }
    }

    .timelineAfter {
      left: 1.75 * (-$timeline-border-width);
      border-left: (1.5 * $timeline-border-width) solid transparent;
      border-right: (1.5 * $timeline-border-width) solid transparent;
      border-bottom: (1.5 * $timeline-border-width) solid $clrTimeBorder;
    }
  }
}