// -------------------------------------
//   beuticons
// -------------------------------------


// beautons is a beautifully simple button toolkit.
//
// Copyright 2013 Harry Roberts



// - BASE -----------------------------

%button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin: 0;
  background-color: $button-bg-color;
  color: $button-color;
  border-radius: $border-radius;
  box-shadow: $button-shading;
  overflow: hidden;
  text-decoration: none;
  line-height: 3em;
  height: 3em;
  padding: 0 2em 0 1.5em;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  @include transition(0.2s,0);

  &:before {
    content: ' ';
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100%;
    background-image: url('../../img/button-shine.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @include transition(0.2s,0);
  }

  &:after {
    content: '\203a';
    font-weight: bold;
    position: absolute;
    right: 1em;
    top: 50%;
    line-height: 1em;
    height: 1em;
    margin-top: -0.5em;
    @include transition(0.2s,0);
  }

  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
  &:hover {
    background-color: $clrHighlight;
    box-shadow: $subtle-shadow;
    @include transition(0.2s,0);
  }
  &:active, &:focus {
    background-color: $clrActive;
    outline: none;
    box-shadow: $button-shading-active;
    @include transition(0,0);
  }
  &:hover::before, &:active::before, &:focus::before {
    left: 20%;
    @include transition(0.2s,0);
  }
  &:hover::after, &:active::after, &:focus::after {
    right: 0.75em;
    @include transition(0.2s,0);
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// - SIZES ----------------------------

%button-small {
  font-size: 0.8em;
}

%button-large {
  font-size: 150%;
  letter-spacing: $condensed;
}

%button-huge {
  font-size: 180%;
  letter-spacing: $condensed;
}

%button-full {
  display: block;
  width: 100%;
}


// - FUNCTIONS ------------------------

%button-back {
  padding: 0 1.5em 0 2em;

  &:after {
    content: '\2039';
    left: 1em;
    right: auto;
  }

  &:hover::after {
    left: 0.75em;
  }
  &:hover::before {
    left: 60%;
  }
}

%button-left {
  float: left;
}

%button-right {
  float: right;
}

%button-inactive {
	&:hover,
	&:active,
	&:focus{
		background-color: #ddd;
		color: #777;
		cursor: default;
		box-shadow: none;
	}
}


// - IMPLEMENTATION -------------------

.button {
  @extend %button;

  &.back {
    @extend %button-back;
  }
  &.small {
    @extend %button-small;
  }
  &.large {
    @extend %button-large;
  }
  &.huge {
    @extend %button-huge;
  }
  &.left {
    @extend %button-left;

    &.absolute {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &.right {
    @extend %button-right;

    &.absolute {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &.block {
    margin-top: $button-margin;
  }
  &.rounded {
    border-radius: 100px;
  }
  &.orange {
    background-color: $clrHighlight;
  }
  &.green {
    background-color: $clrActive;
  }
  &.darkblue {
    background-color: $clrBase;
    box-shadow: $button-shading-dark;
  }
  &.grey {
    background-color: $grey;
    box-shadow: $button-shading-dark;
  }
}

@include mq(768px, max) {
  .button {
    &.huge,
    &.large {
      display: block;
      float: none;
      margin-left: (-$padding-tile-mob);
      margin-right: (-$padding-tile-mob);
      border-radius: 0;
    }
    &.tileEnd {
      margin-bottom: (-$padding-tile-mob);
    }
  }
}