%flex{
  display: flex;
}
%flex-columns{
  flex-flow: column wrap; // flex direction row, nowrap
}
%flex-rows{
  flex-flow: row wrap; // flex direction row, nowrap
}

@mixin flex-table($flow:"row"){

  @extend %flex;

  // flex box container
  @if $flow == "row" {
    @extend %flex-rows;
    align-items: stretch; // y axis
    justify-content: center; // x axis
  } @else if $flow == "column" {
    @extend %flex-columns;
    align-items: stretch;
    justify-content: flex-start;
  }
}

@mixin flex($grow, $shink, $basis){
  flex: $grow $shink $basis;
}