@include font-load("gotham/gotham-thin-webfont", 100, 200){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-light-webfont", 300){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-book-webfont", normal, 400){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-medium-webfont", 500){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-bold-webfont", bold, 600, 700){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-black-webfont", 800){
  font-family: 'Got';
  font-style: normal;
}

@include font-load("gotham/gotham-ultra-webfont", 900){
  font-family: 'Got';
  font-style: normal;
}
/*
@include font-suite(normal,"gotham/gotham-book-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-load(100,200,"gotham/gotham-thin-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-suite(200,"gotham/gotham-thin-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-suite(300,"gotham/gotham-light-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-suite(400,"gotham/gotham-book-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-suite(500,"gotham/gotham-medium-webfont"){
  font-family: 'Got';
  font-style: normal;
}
@include font-suite(500,"gotham/gotham-medium-webfont"){
  font-family: 'Got';
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-book-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-book-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-book-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-book-webfont.ttf') format('truetype');
  font-style: normal;
}
@font-face { 
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-thin-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-thin-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-thin-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-thin-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-thin-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-thin-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-thin-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-light-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-light-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-light-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-book-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-book-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-book-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-book-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-medium-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-medium-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-medium-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-bold-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-bold-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-bold-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-bold-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-bold-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-bold-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-black-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-black-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-black-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Got';
  src: url('../../fonts/gotham/gotham-ultra-webfont.eot?#iefix');
  src: url('../../fonts/gotham/gotham-ultra-webfont.svg') format('svg'),
  url('../../fonts/gotham/gotham-ultra-webfont.woff') format('woff'),
  url('../../fonts/gotham/gotham-ultra-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}*/