@font-face {
  font-family: 'mhicons';
  src:url('../../fonts/mh-icons.eot?-k9cpwp');
  src:url('../../fonts/mh-icons.eot?#iefix-k9cpwp') format('embedded-opentype'),
  url('../../fonts/mh-icons.woff?-k9cpwp') format('woff'),
  url('../../fonts/mh-icons.ttf?-k9cpwp') format('truetype'),
  url('../../fonts/mh-icons.svg?-k9cpwp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mhicon-"], [class*=" mhicon-"] {
  font-family: 'mhicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mhi-budgeting-circled:before {
  content: "\e605";
}
.mhi-road-circled:before {
  content: "\e606";
}
.mhi-boat-circled:before {
  content: "\e607";
}
.mhi-compass-circled:before {
  content: "\e608";
}
.mhi-bars:before {
  content: "\e600";
}
.mhi-icon:before {
  content: "\e601";
}
.mhi-budgeting:before {
  content: "\e602";
}

$mhi-budgeting-circled: "\e605";
$mhi-road-circled: "\e606";
$mhi-boat-circled: "\e607";
$mhi-compass-circled: "\e608";
$mhi-bars: "\e600";
$mhi-icon: "\e601";
$mhi-budgeting: "\e602";
